
@{
    ViewBag.Title = "Index";
}

<div id="home" class="w-100 d-md-flex mt-5 pt-5 mb-5 justify-content-between p-lr">
    <div id="right" class=" d-flex align-content-center flex-column justify-content-center">
        <img src="~/Images/WIN_20231216_12_17_19_Pro.jpg" id="profileimage" />
    </div>
    <div id="left" class="d-flex align-content-center flex-column justify-content-center">
        <h1>I'M <span class="text-blue">FULLSTACK DEVELOPER</span></h1>
        <h1>FROM KARNATAK, IND</h1>
        <p>I am Manjunath Savitrigol, And I specialise in building and designing websites.</p>
        <div>
            <button class="btn btn-primary float-start me-2">Explore my work</button>
            <p class="p-1">Call:(+91)9380064340</p>
        </div>
    </div>
</div>
<div id="about" class="p-lr mb-5 pb-5">
    <h5 class="text-blue">About</h5>
    <h1>My Education & Experience</h1>
    <div id="EduExp" class="w-100 ">
        <div id="Edu" class="mt-5">
            <h2>Education</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4>Master of Software Engineering</h4>
                            <span class="text-blue"> SDM College of Engineering (2018 - 2022)</span>
                            <p class="text-darkgrey">Everybody does engineering so i also did engineering in this college. </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4>Master of Software Engineering</h4>
                            <span class="text-blue"> SDM College of Engineering (2018 - 2022)</span>
                            <p class="text-darkgrey">Everybody does engineering so i also did engineering in this college. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4>Master of Software Engineering</h4>
                            <span class="text-blue"> SDM College of Engineering (2018 - 2022)</span>
                            <p class="text-darkgrey">Everybody does engineering so i also did engineering in this college. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4>Master of Software Engineering</h4>
                            <span class="text-blue"> SDM College of Engineering (2018 - 2022)</span>
                            <p class="text-darkgrey">Everybody does engineering so i also did engineering in this college. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Exp" class="w-100 mt-5">
            <h2>Experience</h2>
            <div class="w-100 d-lg-flex justify-content-between gap-4">
                <div class="card w-100" id="frontend">
                    <div class="card-body">
                        <div class="card-title text-center fs-4 pb-4"> FRONTEND DEVELOPMENT</div>
                        <div class="row ps-5">
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-html5-plain"></i></div>
                                <div>
                                    <h5>HTML</h5>
                                    <span class="text-blue"> Experienced</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-css3-plain"></i></div>
                                <div>
                                    <h5>CSS</h5>
                                    <span class="text-blue"> Intermediate</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-javascript-plain"></i></div>
                                <div>
                                    <h5>Javascript</h5>
                                    <span class="text-blue"> Experienced</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-bootstrap-plain"></i></div>
                                <div>
                                    <h5>Bootstrap</h5>
                                    <span class="text-blue"> Intermediate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card w-100" id="backend">
                    <div class="card-body">
                        <div class="card-title text-center fs-4 pb-4"> BACKEND DEVELOPMENT</div>
                        <div class="row ps-5">
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-csharp-plain"></i></div>
                                <div>
                                    <h5>C#</h5>
                                    <span class="text-blue"> Experienced</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-dot-net-plain"></i></div>
                                <div>
                                    <h5>dot net</h5>
                                    <span class="text-blue"> Experienced</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-microsoftsqlserver-plain"></i></div>
                                <div>
                                    <h5>Microsoft SQL server</h5>
                                    <span class="text-blue"> Experienced</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-git-plain"></i></div>
                                <div>
                                    <h5>Git</h5>
                                    <span class="text-blue"> Intermediate</span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex gap-3 mb-5">
                                <div class="logo"><i class="devicon-jquery-plain"></i></div>
                                <div>
                                    <h5>Jquery</h5>
                                    <span class="text-blue"> Experienced</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact" class="p-lr mt-5 pt-5 mb-5">
    <div>
        <h5 class="text-blue"> Contact </h5>
        <h1>Interested in Hiring me? Let`s talk. </h1>
    </div>
    <div>
        @using (Html.BeginForm("sendmail", "home", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" />
                    
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" name="Email" id="email" class="form-control" placeholder="Enter your email" />
                </div>
                <div class="col-md-12 mb-3">
                    <input type="text" name="subject" id="subject" class="form-control" placeholder="Enter subject" />
                </div>
                <div class="col-md-12 mb-3">
                    @Html.TextArea("message", new { @class = "form-control", id = "message", placeholder = "Enter message", rows = 10 })
                </div>
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary" type="submit" id="sendmail"><i class="fa fa-send"></i>&nbsp; Send </button>
                </div>
            </div>

        }
    </div>
</div>

<script type="text/javascript">
    $("#sendmail").click(function(){
        let name = $("#name").val();
        let email = $("#email").val();
        let subject = $("#subject").val();
        let message = $("#message").val();

        if(name == ""){
            $("#name").focus();
            return false;
        }
         if(email == ""){
            $("#email").focus();
            return false;
        }
         if(subject == ""){
            $("#subject").focus();
            return false;
        }
         if(message == ""){
            $("#message").focus();
            return false;
        }
    })
</script>